<div fxLayout="column wrap" fxLayoutAlign="start stretch">
  <div  fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="400px">

    <mat-toolbar  color="primary" style="max-height:50%;">
       <span class="vin">ToDo List</span>
       <span style=" flex: 1 0.5 auto"></span>
       <button mat-icon-button (click)="profile()"><mat-icon>person</mat-icon>
      </button>{{userDetails}}

       <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>


</mat-toolbar>
</div>



    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card style="width:50%">

          <mat-form-field  appearance="outline" style="width:50%;margin-left:200px;">
            <mat-label>TODO</mat-label>
            <input matInput placeholder="Enter todo" [(ngModel)]="inputFieldValue" >
          </mat-form-field> &nbsp;&nbsp;


          <button mat-raised-button style="background-color:#5cb85c;"(click)="add()">Add</button>


                <table class="users">
                  <th>S.NO</th>
                  <th>Todolist</th>
                  <th>Delete</th>
                  <th>Edit</th>
                  <tbody *ngFor='let row of tableData ;let i=index'>
                  <tr>
                    <td>{{i+1}}</td>
                    <td>{{row}}</td>
                    <td><button mat-icon-button><mat-icon (click)="delete(i)">delete</mat-icon></button></td>
                    <td><button mat-icon-button><mat-icon (click)="edit()">edit</mat-icon></button></td>


                  </tr>
                  </tbody>
                  </table>


      </mat-card>



    </div>


  </div>
